<h1>Блог</h1>

<table class="table table-bordered">
  <tr>
    <th>Тема</th>
    <th>Краткое описание</th>
    <th>Контент</th>
    <th>Рейтинг</th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
    <%= render partial: "admin_tr_row", locals: {post: post}%>
  <% end %>
</table>

<br />

<%= link_to 'Добавить', new_post_path, class: 'btn' %>

<div>
  <label>AngularJS:</label>
  <input type="text" ng-model="name" placeholder="Enter a name here">
  <hr>
  <h1>Hello {{name}}!</h1>
  <h1>Goodbye {{name}}!</h1>
</div>